/************************************************************************************ 

Couleurs utilisées:

- peru et silver(pour les BD)
- #cdbe9f et #e5eecc(pour les background-color)
- si ces ne ressortent pas les caracteres blancs: Utliser background-color: #99993F;
___________________________________________________
Les préfixes vendeurs
-o- pour Opera
-moz- pour Gecko (Mozilla)
-webkit- pour Webkit (Chrome, Safari, Android...)
-ms- pour Microsoft (Internet Explorer)
-khtml- pour KHTML (Konqueror)
  
*************************************************************************************/
*
{
	margin: 0px; 
	padding:0px;
	
}
body
{
	background:#e2f6ff url('images/fond.jpg') center top no-repeat;
	padding-left:10%;
	padding-right:10%;
	font-style: italic;
	font-family: "Times New Roman", Georgia, Serif;
}
body  table tr td  div input
{
	border: 0px  #cf3fc3 dotted;
	font-style: italic;
	font-size: 15px;
	font-family: "Times New Roman", Georgia, Serif;
	color:#00004d;
}



body  table tr td  input
{
	border: 0px  #cf3fc3 dotted; 
			 
	font-style: italic;
	font-size: 15px;
	font-family: "Times New Roman", Georgia, Serif;
	color:#000066;
}


}
.clean { clear:both; }
.left { text-align:left; }


label
{
	width:200px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
}
table
{
	border-spacing:0px;
	background:#ffffff;
	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	padding:0px;

	width:95%;
	margin:5px auto 5px auto;
}
tr
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin:0px;
}
td, th
{
	margin:0px;
	border:0px;
	padding:3px;
	text-align:center;
}
a  { text-align:right; text-decoration: none; }

th
{
 color:white ;
 background:green;	
 border-radius:8px;
 -webkit-border-radius:8px;
 -moz-border-radius:8px;
 box-shadow: 7px 6px 15px #333;

}

table.color_line tr:nth-child(2n+1) td {
    color:Peru ;
    background:silver;
	 border-radius:8px;
    -webkit-border-radius:8px;
	-moz-border-radius:8px;
}  

.color_line { position:absolute; z-index:2;  left:310px;  right:40px; top:114px;    height:490px; width:500px;   
              overflow:  auto; 
			  white-space:nowrap;
			  display: block;  
			}

/*  Reduction hauteur table d'affichage resultat(lectureBD2.php)suite à une action sur le moteur de recherche de la page d'accueil*/
.color_line_short { position:absolute; z-index:2;  left:310px;  right:40px; top:114px;    height:60px; width:523px;   
              /* Pour limiter lataille du conteneur overflow:  auto; sinon il va s'adapter à la taille du contenu */ 
			  background-color: #e5eecc;
			  white-space:nowrap;
			   
			  box-shadow: 1px 1px 0px 0px green;
			  -moz-box-shadow: 1px 1px 0px 0px green;
			  -webkit-box-shadow: 1px 1px 0px 0px green;
			
			  /* Pour adapter  la taille de la table à son div conteneur i fo retirer   display: block; */ 
			}
  
input ,select {
   border-radius:4px;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   -khtml-border-radius:4px;
   width:155px;
   
   	/*transform: rotate(-1deg);*/
	/*box-shadow: 7px 6px 15px #333;  /* box-shadow: 7px 6px 15px #333;  */       
    /*maxlength:100;*/
} 


button      {
	border-radius:4px;
    -webkit-border-radius:4px;
	-moz-border-radius:4px;
   	/*transform: rotate(-1deg);*/
	box-shadow: 1px #333; /*ct  7px 6px 15px #333;*/   /* box-shadow: 1px #333;  */     
}
/* le texetarea de la page d'authentification */
.t_area{
	    border-radius:15px;
       -webkit-border-radius:15px;
	   -moz-border-radius:15px;
	   -khtml-border-radius:15px;
        text-align:center;
        color:  #ffffff;   
        font-family: "Times New Roman", Georgia, Serif;  /*Arial, Geneva, sans-serif; */
		Font-Weight: Bold;
		font-size: 12px;
        padding:10px;
        background-color: #93A299 ;   /*   #434543  silver #beae8c;   #1D702D;  #99993F; #e5eecc;  */
		           
        /* Effet creux */
        box-shadow:
        0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
        0px 2px 2px 0px rgba(255, 255, 255, 0.5);
		
		/* Pour internet Explorer, un scroll bar s'invite dans le textarea, et donc je le ainsi:*/
		overflow: auto;

}


.rappel  { /* modifier_.php */
         z-index:1;
         position:absolute;
		 bottom:10px;
		 left:2px;
	
}


/* conteneur des 3 panneaux verticaux: .tablegauche ,.tablecentre ,.tabledroite */

.centrer
{
  position: absolute;
    left: 400px; 
    top:52px;
	text-align:center;
}

/****seulement pour Firefox et Netscape  mais ça marche pas ******************
html:not([lang*=“”]) .centrer { position: absolute; top:48px; }  
*****************************************************************************/

/* support des panneaux - "les matelas" ou "les savons" ... tu les apl comme tu veux! */
.tablegauche
{
   /* firefox a besoin d'un 'top:70px'.Contrairement à tous les autres browsers qui sont bien à73px. Solution? top:?*/
  position:absolute; z-index:2; left:-200px;  top:73px;    right:200px; height:397px; width:280px; 
  box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
  -webkit-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
  -moz-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
}

.tablecentre
{
  position:absolute; left:90px;  top:-16px; z-index:2; height:606px; max-height:606px; width:200px; padding-top: 55px;
  box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47; 
  -webkit-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
  -moz-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47; 
  
   
}


.tabledroite { /*acueil.php ? ecritureBD.php , ecritureBD.php */

  position:absolute; left:300px;  top:-16px; z-index:2; height:606px; width:370px; /*  height:606px*/
  box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47; 
  -webkit-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
  -moz-box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;   
}


.tabledroiteresultat{ /* lectureBD.php et lectureBD2.php */
  position:absolute; left:100px;  top:-16px; z-index:2; height:606px; width:570px;/* ct width:550px; */
  box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47; 
}
/* Hack CSS pour IE5 et IE6   */
 *  html .flag {
        border-radius /*\**/:20px 0px 0px 20px\9;
		-webkit-border-radius: 20px 0px 0px 20px;
		-moz-border-radius: 20px 0px 0px 20px;
		-khtml-border-radius: 20px 0px 0px 20px;
	}
/* Hack CSS pour IE7   */
 *+html .flag {
        border-radius /*\**/:20px 0px 0px 20px\9;
		-webkit-border-radius: 20px 0px 0px 20px;
		-moz-border-radius: 20px 0px 0px 20px;
		-khtml-border-radius: 20px 0px 0px 20px;
	}
/* Hack CSS pour IE8 et IE9   */
  .flag {
        border-radius /*\**/:20px 0px 0px 20px\9;
		-webkit-border-radius: 20px 0px 0px 20px;
		-moz-border-radius: 20px 0px 0px 20px;
		-khtml-border-radius: 20px 0px 0px 20px;
	}
/* IE10 and other browser   */
.flag {
        border-radius:20px 0px 0px 20px;
		-webkit-border-radius: 20px 0px 0px 20px;
		-moz-border-radius: 20px 0px 0px 20px;
		-khtml-border-radius: 20px 0px 0px 20px;

	/* la ligne suivante permet de supprimer la marge entre le drapeau et son contEneur */
	/* margin:-2px -3px -3px -3px; */       /* Oui! mais je vire cette instruction parce que je prefere garder la marge*****/
	}
	

.hollowTop  { /* EFFET CREUX */  /* sous le drapeau. càd contient le drapeau */ 
			
			background: silver; /* #e5eecc;  #1D702D; */ 
			position:absolute; top:1px; left:165px;  margin:10px ;    padding:0px;   width:73%; height:75px;   
			z-index:3; /* POUR OBTENIR LE PANNEAUDE DROITE EN ENTIER(version2): z-index:2; */
			border-radius:20px;
			/* EFFET CREUX */
			box-shadow:
			0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
			0px 2px 2px 0px rgba(255, 255, 255, 0.5);
			padding:0px;

}

.closeUpperMargin  {  /* dessUs du drapeau. J'ai dépassé déliberement la margre haut de l'ecran */ 
			background: silver; /* #e5eecc;  #1D702D; */ 
			position:absolute;  left:165px;  margin:10px;  width:73%; height:100px; /* ct height:415px; */
			z-index:1;  top:-30px;
			-webkit-border-radius:0px; 
	
				
			box-shadow:
			0px 2px 2px 0px rgba(0, 0, 0, 0.5),
			0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
            
			
}

.hollowBottom  { /* EFFET CREUX */ /* dessOUs de l'armoirerie. Sous le panneau gauche. Sur la tablebasrallongee */
			  background: silver; /* #e5eecc;  #1D702D; */ 
			  position:absolute;  left:165px; top:260px; margin:10px;  width:73%; height:400px;
			  border-radius:20px;
			  z-index:2;
			/* EFFET CREUX */
				box-shadow:
				0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
				0px 2px 2px 0px rgba(255, 255, 255, 0.5);
				padding:0px;
			/* EFFET RELIEF
				box-shadow:
				0px 2px 2px 0px rgba(0, 0, 0, 0.5),
				0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
			*/  
}




.closeLowerMargin  {
	    background: silver; /* #e5eecc;  #1D702D; #99993F; */
		position:absolute;  left:165px;  margin:10px;  width:73%; height:615px; z-index:1; /* ct top:60px;  border-radius:20px;*/
		top:80px;
		border-radius:0px;
		box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5),
		0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
  
}
.openLowerMargin  {
	    background: silver; /* #e5eecc;  #1D702D; #99993F; */
		position:absolute;  left:165px;  margin:10px;  width:73%; height:615px; z-index:1; /* ct top:60px;  border-radius:20px;*/
		top:60px;
		border-radius:0px;
		box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5),
		0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
  
}

.line1 {
	    background: silver; /* #e5eecc;  #1D702D; */ 
		position:absolute; z-index:1; top:110px; left:165px; width:73%; margin:10px; 
		border-radius:20px;
		box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
		0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}
.line3 { 
		background: silver;  /* #e5eecc;  #1D702D; */ 
		position:absolute; z-index:1; top:244px; left:165px; width:73%; margin:10px; 
		border-radius:20px;
		box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
		0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}


.line2 {
		background: silver; /* #e5eecc;  #1D702D; */ 
		position:absolute; z-index:1; top:180px; left:165px; width:73%; margin:10px; 
		border-radius:20px;
		box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5),
		0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}
#login_:hover , #pswd_:hover  { background-color: #1D702D; color:#ffffff; font-size: 17px; font-weight:bold;    box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.5); }
#valider_:hover { color: #1D702D; font-weight:bold; font-size: 20px; font-style: italic;}
#recherchenum, #recherchenom { background-color: #e5eecc; }
#recherchenum:hover, #recherchenom:hover { background-color: #cdbe7f; color:green; font-size: 17px; font-weight:bold;  box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.5);}

.listemenu{
text-align: left;
line-height: 1.8;

color: black; //white avec white , c vraiment chic et classe , mais pas assez visible.
text-shadow: 2px 2px #beae8c;

}

/*
a.nouveaudocument:hover , .listdocument:hover { background-color: green; color:green ;    }
*/

/* 
   un effet creux sur les items menu central au survol de la souris
   -> J'obtients plutôt un effet cube, mais je prends car je le trouve original
   
 */
 
 
 
 
.nouveaudocument , .listdocument { display:block; float:left; margin-left:20px; }
.nouveaudocument { border-bottom: outset 0px #e5eecc; }

 
input#nouveaudocument , #listdocument  { background-color:#e5eecc; }

input#nouveaudocument:hover , #listdocument:hover  { 
            color:green ; 
		    padding-top:1%; padding-bottom:1%; 
			background-color: #cdbe7f;  position:relative; 
            border-radius:2px;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			-khtml-border-radius:2px;
			
            box-shadow:
                0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
                0px 2px 2px 0px rgba(255, 255, 255, 0.5);
} 


div#commandePanel {height:30px;}

 
//22.12.15 JE T'AIME MOI AUSSI(sab à konaté 0634251545)

/*Styles de la page lectureBD_menu( appelee par le bouon Liste acte de naissance de la page d'accueil)*/
 

/*PANEAU DE GAUCHE */ 

/*PANEAU DE DROITE */  
		

			
